.form-select {
  padding-left: 5px;
}

.form-checkbox {
  padding-left: 5px;
}

.button-group {
  margin: 5px 0;
}

.btn {
  margin: 0 5px;
}

.flex-items-column {
  display: flex;
  flex-direction: column;
}

.flex-items-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
