<app-card-layout [title]="'Doug\'s Car Lot'">
    <app-filter
            [carMakes]="carMakes"
            [carYears]="carYears"
            [carColors]="carColors"
            [carPrices]="carPrices"
            (carProperties)="onSearch($event)"
            (searchParams)="bindSearchParams($event)"
            (searchFlag)="bindSearchFlag($event)"
    ></app-filter>
    <app-table
            [query]="query"
            [keys]="tableKeys"
            [searchFlag]="searchFlag"
            [searchParams]="searchParams"
            [filteredOptions]="searchData"
    ></app-table>
</app-card-layout>
