table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

td, tr {
    text-align: center;
}

th.mat-header-cell {
    text-align: center;
}

th {
    background-color: white;
    cursor: default;
}

tr:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.no-results {
    margin: 15px 0;
}
