<table *ngIf="filteredOptions.length > 0 && searchFlag" mat-table [dataSource]="filteredOptions" class="mat-elevation-z8">

  <ng-container  *ngFor="let key of keys" matColumnDef="{{key}}">
    <th mat-header-cell *matHeaderCellDef> {{key | camelToHuman}} </th>
    <td mat-cell [ngStyle]="{'background-color': alterColor(key, option[key])}" *matCellDef="let option">
        <div *ngIf="option[key] === true ">
            <mat-icon>check</mat-icon>
        </div>
        <div *ngIf="!option[key]">
            <mat-icon>clear</mat-icon>
        </div>
        <div *ngIf="option[key] !== true && option[key] !== false && key !== 'price'">
            {{option[key]}}
        </div>
        <div *ngIf="option[key] !== true && option[key] !== false && key === 'price'">
            ${{option[key]}}
        </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="keys"></tr>
  <tr mat-row *matRowDef="let row; columns: keys;"></tr>
</table>

<mat-card class="no-results" *ngIf="filteredOptions.length === 0 && searchFlag">
    There are no results found.
</mat-card>